<div class="row mt-5 w-50">
<% users.each do |user| %>
  <div class="one-post card mt-3">
    <%= link_to user_path(user) do %>
      <p class="caption h4"><%= user.name %></p>
      <p class="caption"><%= "#{user.posts.count} 投稿" %></p>
    <% end %>
  </div>
<% end %>
</div>
<%= paginate users %>